<!DOCTYPE HTML>

<html>
<head>
	<title>Devito</title>
	<meta charset="utf-8" />
	<link rel="shortcut icon" type="image/png" href="images/img3.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

	<!-- Header -->
	<section id="header">
		<header>
			<h1>Are You Danny Devito?</h1>
			<p>cuHacking 2019 Project</p>
		</header>
		<footer>
			<a href="#banner" class="button style2 scrolly-middle">Find Out</a>
		</footer>
	</section>

	<section id="banner">
		<article class="container box style3">
			<form method="post" action="#">
				<div class="a">
					<div class="col-12">
							<br><form id="uploadbanner" enctype="multipart/form-data" method="post">
								<div class="upload-btn-wrapper">
								  <button class="btn">Upload a file</button>
									<input id="fileupload" name="you" type="file" />
								</div>
								<br><br><input type="submit" value="Submit" name="submit">
							</form>
						</div>
					</div>
			</article>
		</section>

		<!-- Footer -->
		<section id="footer">
			<center><a href="https://github.com/Megapead/LearningHacks">Project Github<a></center><br>
			</section>

			<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/jquery.poptrox.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
			<script src="/static/submit.js"></script>
		</body>
		</html>
